hr {
    height: 2px;
    color: black;
    background-color: black;
    border: none;
    width: 75%;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-brand,
.navbar-nav li > a {
    text-transform: capitalize;
    color: #333;
    transition: background-color .5s, color .5s;
}

.m-fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

/*.navbar-nav li a:hover {
    color: #1abc9c !important;
}*/

/*.navbar-nav li a:active {
    color: #1abc9c !important;
}*/

body {
    font: 20px Montserrat, sans-serif;
    background-color: #1abc9c !important;
}

.bg-1 {
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}

.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}

.small-center-post {
    position: relative;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}

.large-center-post {
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}

.main-content {
    min-height: 100%;
    margin-bottom: -48px;
    min-width: 100%;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0px;
    margin-right: 0px;
}